# Database configuration
DB_URL=jdbc:postgresql://localhost:5432/nest_db

# JWT configuration
JWT_SECRET=THE_SECRET

# Google OAuth
GOOGLE_CLIENT_ID=123456.apps.googleusercontent.com

# Web frontend host
WEB_HOST=http://localhost:5173

# NestJS port
NEST_PORT=3000

# Mail
GMAIL_USER=x@gmail.com
GMAIL_PASS=xxxxxxxxxx

# Resend
RESEND_API_KEY=resend_api_key
RESEND_FROM_EMAIL=x@gmail.com

# Domain
APP_DOMAIN=runpool.com.ar
